PORT=3000
AWS_REGION=<your-aws-region>
# Thay the bang credentials cua ban
AWS_ACCESS_KEY_ID=<your-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-access-key>
# Ten bucket cua ban
AWS_S3_BUCKET_NAME=<your-bucket-name>
# Ma bi mat ban muon dat
SECRET_CODE=<your-secret-code>
